[Unit]
Description=Подготовка данных для плагина погоды
 
[Service]
ExecStart=/home/s-adm/.scripts/get-weather.sh
 
[Install]
WantedBy=multi-user.target

